.home-page-back-container {
  position: relative;
  height: 100px;
  background: url("../../images/banner.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.setting-banner a {
  background-color: #0e00e7;
  color: #fff;
  padding: 10px 50px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 26px;
  transition: all 0.3s ease;
}

.setting-banner a:hover {
  background: linear-gradient(to bottom, #3b2dbd, #3700ff, #3b2dbd);
  transform: scale(0.9);
}

.setting-banner a svg {
  font-size: 20px;
  position: relative;
  bottom: 2px;
}
/* ************************************* */

.settings-main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

@media (min-width: 768px) {
  .settings-main-container {
    flex-direction: row;
  }
}

.setting-side-bar {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  background-color: #fff;
  margin: 10px 13px;
  border-radius: 8px;
  width: 100%;
  max-width: 267px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.setting-side-bar span {
  display: block;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: color 0.3s;
}

.setting-side-bar span:hover {
  color: #0e00e7;
  transform: scale(0.98);
}
.setting-side-bar span.active {
  color: #ff8000;
}

/* ************************************* */
/* **********settings container************* */
/* ************************************* */

.setting-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  margin: 10px 13px;
  border-radius: 8px;
  width: 100%;
  max-width: 54rem;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.account-info {
  flex: 1;
}

.account-info h3 {
  font-size: 19px;
  font-weight: 600;
}
.account-info-container {
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
}
.account-info-container .form-group {
  margin-bottom: 15px;
}

.account-info-container .info-item {
  display: flex;
  margin: 5px 0px;
}
.account-info-container .info-item input {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.2s;
}

.account-info-container .info-item input:disabled {
  background-color: #f9f9f9;
}
.input-u-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #999;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.input-u-label.filled {
  top: -8px;
  left: 10px;
  font-size: 12px;
  color: #0400ff;
  background-color: #f9f9f9;
  padding: 0 5px;
}
.edit-btn-u,
.edit-save-btn,
.edit-cancel-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.edit-btn-u {
  background-color: #ff8000;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 16px;
  max-width: 78px;
  padding: 6px 0px;
  border-radius: 6px;
  transition: all 0.3s ease;
  margin: 0px 10px;
}

.edit-btn-u:hover {
  background-color: #ff8d1ce8;
  transform: scale(0.98);
}
.settings-btn-container {
  display: flex;
  margin: 0px 5px;
}

.edit-save-btn {
  background-color: #0400ff;
  color: #fff;
  max-width: 146px;
  font-size: 12px;
  margin-right: 10px;
}

.edit-save-btn:hover {
  background-color: #ff8000;
  color: #fff;
  transform: scale(0.98);
}

.edit-cancel-btn {
  background: none;
  border: none;
  color: #fff;
  background-color: #ff8000;
  max-width: 75px;
  font-size: 12px;
}

.edit-cancel-btn:hover {
  background-color: #0008ff;
  transform: scale(0.98);
}

/* Delete Account */
.delete-account-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.delete-account-container h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}

.delete-account-container .delete-button {
  background-color: #0007f1;
  color: #fff;
  border: none;
  width: 100%;
  max-width: 140px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.delete-button:hover {
  background-color: #ff002b;
  transform: scale(0.98);
}

.alert-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 300px;
  width: 80%;
  text-align: center;
}

.alert-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.alert-button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.alert-button.ok {
  background-color: #007bff;
  color: #fff;
}

.alert-button.cancel {
  background-color: #ccc;
  color: #000;
}

.alert-button.ok:hover {
  background-color: #0056b3;
}

.alert-button.cancel:hover {
  background-color: #999;
}
